html, body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

/* Navbar */
div.navbar-fixed {
    position: fixed;
}

nav {
    transition: all .3s;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

div.custom-nav-wrapper {
    display: flex;
    justify-content: center;
}

a.nav-link {
    color: black;
    margin: 0 10px;
    -webkit-transition: border-bottom .3s;
    transition: background-color .3s;
}

a.nav-link:hover {
    background-color: #007bb5 !important;
}

/* Banner image */
.banner-container {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 109.6deg,  rgba(31,179,237,1) 11.2%, rgba(17,106,197,1) 91.1% );
}

/* Content body */
.content-container {
    background: white;
    border-radius: 5px;
    margin: 100px 0 !important;
}

/* Into v-card */
div.intro-v-card {
    padding: 5% 0;
    display: flex;
    flex-wrap: wrap;
}

.auth-img-container {
    border-right: 1px solid #E7E7E7;
}

.auth-img {
    width: 100%;
    border-radius: 50%;
    padding: 20px;
}

.auth-info-col {
    height: 100% !important;
    padding: 10px 20px !important;
}

.auth-greet {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
}

.auth-greet-sub {
    display: inline-block;
    font-size: 18px;
}

.auth-contact-row {
    padding-top: 20px;
}

.auth-contact-greet {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
}

/* Social Media icons */
.fab {
    padding: 0px 5px;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.fab:hover {
    opacity: 0.7;
}

.fa-linkedin {
  color: #007bb5;
}

.fa-github-square {
    color: #24292E;
}

.fa-facebook-square {
    color: #3B5998;
}

.fa-twitter-square {
    color: #55ACEE;
}

/* Email */
.email-line {
    display: inline-block;
    padding-top: 10px;
    font-size: 18px;
}

.email-char {
    font-size: 16px;
    font-weight: 100;
}

@media (max-width: 600px) {
    /* Navbar */
    .nav-sep {
        padding: 0px;
        font-size: 1rem;
    }

    /* Intro v-card */
    .auth-img-container {
        border-right: none;
    }
}
