html, body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

/* Navbar */
div.navbar-fixed {
    position: fixed;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

div.custom-nav-wrapper {
    display: flex;
    justify-content: center;
}

a.nav-link {
    color: black;
    -webkit-transition: border-bottom .3s;
    transition: border-bottom .3s;
}

a.nav-link:hover {
    border-bottom: 4px solid black;
}

.nav-sep {
    padding: 0 15px;
    font-size: 1.1rem;
}

/* Banner image */
.banner-container {
    display: block;
}

.banner-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* Content body */
.content-container {
    transform: translateY(-20%);
    background: white;
    border-radius: 5px;
}

/* Into v-card */
div.intro-v-card {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E7E7E7;
}

.auth-img-container {
    border-right: 1px solid #E7E7E7;
}

.auth-img {
    width: 100%;
    border-radius: 50%;
    padding: 20px;
}

.auth-info-col {
    height: 100% !important;
    padding: 10px 20px !important;
}

.auth-greet {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
}

.auth-greet-sub {
    display: inline-block;
    font-size: 18px;
}

.auth-contact-row {
    padding-top: 20px;
}

.auth-contact-greet {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
}

/* Social Media icons */
.fab {
    padding: 0px 5px;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.fab:hover {
    opacity: 0.7;
}

.fa-linkedin {
  color: #007bb5;
}

.fa-github-square {
    color: #24292E;
}

.fa-facebook-square {
    color: #3B5998;
}

.fa-twitter-square {
    color: #55ACEE;
}

/* Email */
.email-line {
    display: inline-block;
    padding-top: 10px;
    font-size: 18px;
}

.email-char {
    font-size: 16px;
    font-weight: 100;
}

/* Projects */
.projects-row {
    padding: 30px 0;
}

.projects-title {
    text-align: center;
}

p.projects-subtitle {
    text-align: center;
    margin: 0;
    font-size: 18px;
}

.projects-carousel {
    background-image: linear-gradient(to right, #56CCF2 30%, #2F80ED 100%);
    margin-top: 30px;
}

.project-item {
    padding: 25px 25px 50px;
}

.project-card {
    background-color: white;
    height: 100%;
    border-radius: 5px;
}

.project-img {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    /* Navbar */
    .nav-sep {
        padding: 0px;
        font-size: 1rem;
    }

    /* Banner image */
    .banner-container {
        height: 100%;
        overflow-x: hidden;
    }

    .banner-img {
        height: 100%;
        width: auto;
    }

    /* Intro v-card */
    .auth-img-container {
        border-right: none;
    }
}
