<!DOCTYPE html>
<html>
<head>
    <html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO tag -->
    <title>{{ site.title }}</title>

    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <!-- SEO tag end -->

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Materialize JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="content-row row">
        <!-- Header/Sidebar -->
        <div class="sidebar col s12 m3 green lighten-5 z-depth-3">
            <h3 class="side-title">Welcome to Salil's blog</h3>
            <ul class="side-menu">
                <li><a href="#" class="side-link">Technology</a></li>
                <li><a href="#" class="side-link">Travel</a></li>
                <li><a href="#" class="side-link">Resume</a></li>
                <li><a href="#" class="side-link">Contact Me</a></li>
            </ul>
        </div>
        <!-- Header/Sidebar end -->

        <!-- Content -->
        <div class="col s12 m9" style="height: 100%">
            <div class="temp-holder">
                <div class="card-panel" style="margin: auto 10vw;">
                    <img class="responsive-img" src="/img/coffee-pot.png" style="max-width: 128px; height: auto;" />
                    <h5>Please wait!</h5>
                    <h5>Something good is brewing here, should be done soon!</h5>
                </div>
            </div>

            <!-- Footer -->
            <footer>
            </footer>
            <!-- Footer end -->
        </div>
        <!-- Content end -->
    </div>

    <!-- Custom JS -->
    <script src="/js/main.js"></script>
</body>
</html>
